APP_SECRET=
KAFKA_HOST=kafka:9092
REDIS_DSN=redis://@localhost:6400/2
SCORE_STORAGE_API_HOST=http://localhost:8083
AUTHORIZER_HOST=http://localhost:8082
TELEGRAM_TOKEN=
TELEGRAM_OFFLINE=0
TELEGRAM_URL=